.Page-Content {
    display: flex;
    justify-content: space-between;
}
.Wordle-Board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 7px;
    margin: auto;
    width: 50%;

    text-align: center;
}
.Wordle-Row {
    display: flex;
    align-items: center;
    column-gap: 7px;
}
.Wordle-Letter-Container {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
    height: 60px;
    min-width: height;
    border: 2px solid rgb(67, 67, 67);
}
.Wordle-Letter-Input, .Wordle-Letter-Output {
    font-weight: bold;
    font-size: 32px;
    font-family: Helvetica, Arial, sans-serif;
}
.Wordle-Letter-Information {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(218, 76, 76);
}

.Answered {
    color: white;
}
.Gray {
    background-color: rgb(120,124,126);
}
.Yellow {
    background-color: rgb(201, 180, 88);
}
.Green {
    background-color: rgb(106, 170, 100);
}
.Button {
    /*  Sebastian Lague's Design - https://seblague.github.io/ideagenerator/
    */
    background-color: #4CAFFF;
	text-align: center;
	font-size: 25px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 

}
.button:hover {
    background-color: #5dc2f5;
  }
  .button:active {
    background-color: #5591ff;
  }